#input {
  width: 500px;
}

#display {
  width:80%;
  margin: auto;
  margin-top: 20px;
}

body {
  text-align: center;
}

.gold-side-border {
  border-left: 5px solid gold;
  border-right: 5px solid gold;
}

.gold-top-border {
  border-top: 5px solid gold;
}

.gold-bottom-border {
  border-bottom: 5px solid gold;
}

.fivestar-side-border {
  border-left: 5px solid lightblue;
  border-right: 5px solid lightblue;
}

.fivestar-top-border {
  border-top: 5px solid lightblue;
}

.fivestar-bottom-border {
  border-bottom: 5px solid lightblue;
}

.pc-side-border {
  border-left: 5px solid darkblue;
  border-right: 5px solid darkblue;
}

.pc-top-border {
  border-top: 5px solid darkblue;
}

.pc-bottom-border {
  border-bottom: 5px solid darkblue;
}

.zoneone-side-border {
  border-left: 5px solid darkgrey;
  border-right: 5px solid darkgrey;
}

.zoneone-top-border {
  border-top: 5px solid darkgrey;
}

.zoneone-bottom-border {
  border-bottom: 5px solid darkgrey;
}

.zonetwo-side-border {
  border-left: 5px solid teal;
  border-right: 5px solid teal;
}

.zonetwo-top-border {
  border-top: 5px solid teal;
}

.zonetwo-bottom-border {
  border-bottom: 5px solid teal;
}

.zonethree-side-border {
  border-left: 5px solid lightgrey;
  border-right: 5px solid lightgrey;
}

.zonethree-top-border {
  border-top: 5px solid lightgrey;
}

.zonethree-bottom-border {
  border-bottom: 5px solid lightgrey;
}
